<section class="section bg-gradient-grey">
  <div class="container">
    <div class="section-heading section-heading--left">
      <h2 class="title responsive-title">{$content.certificates.title}</h2>
    </div>
    @@include('./partners.html')
  </div>
</section>
