<section class="section">
  <div class="container">
    <!-- SECTION - Company Profile -->
    <div class="section-heading section-heading--left">
      <h2 class="title responsive-title text-primary">
        {$content.company_profile.title}
      </h2>
    </div>

    <video width="100%" height="auto" controls>
      <source src="./img/video/vtr.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <p class="mb-5 mt-4">{$content.company_profile.p1}</p>
    <p class="mb-5 mt-4">{$content.company_profile.p12}</p>
    <div class="gallery gallery--style-3">
      <div class="gallery__inner">
        <div class="row no-gutters">
          <!-- start item -->
          <div class="col-4 col-md-4 col-lg-4">
            <div class="gallery__item">
              <div class="gallery__item__inner">
                <figure>
                  <img
                    src="./img/blank.gif"
                    style="background-image: url('./img/gall_img/4_col/1.jpeg')"
                    alt="demo"
                  />

                  <!-- <a
                        class="gallery__item__description"
                        href="http://player.vimeo.com/video/95974049"
                        data-gallery="gall"
                      >
                        <span class="gallery__item__title">Our Farm</span>
                        <span class="gallery__item__subtitle">Life Style</span>
                      </a> -->
                </figure>
              </div>
            </div>
          </div>
          <!-- end item -->
          <!-- start item -->
          <div class="col-4 col-md-4 col-lg-4">
            <div class="gallery__item">
              <div class="gallery__item__inner">
                <figure>
                  <img
                    src="./img/blank.gif"
                    style="background-image: url('./img/gall_img/4_col/2.jpeg')"
                    alt="demo"
                  />

                  <!-- <a
                        class="gallery__item__description"
                        href="http://player.vimeo.com/video/95974049"
                        data-gallery="gall"
                      >
                        <span class="gallery__item__title">Our Farm</span>
                        <span class="gallery__item__subtitle">Life Style</span>
                      </a> -->
                </figure>
              </div>
            </div>
          </div>
          <!-- end item -->
          <!-- start item -->
          <div class="col-4 col-md-4 col-lg-4">
            <div class="gallery__item">
              <div class="gallery__item__inner">
                <figure>
                  <img
                    src="./img/blank.gif"
                    style="background-image: url('./img/gall_img/4_col/3.jpeg')"
                    alt="demo"
                  />

                  <!-- <a
                        class="gallery__item__description"
                        href="http://player.vimeo.com/video/95974049"
                        data-gallery="gall"
                      >
                        <span class="gallery__item__title">Our Farm</span>
                        <span class="gallery__item__subtitle">Life Style</span>
                      </a> -->
                </figure>
              </div>
            </div>
          </div>
          <!-- end item -->
          <!-- start item -->
          <div class="col-4 col-md-4 col-lg-4">
            <div class="gallery__item">
              <div class="gallery__item__inner">
                <figure>
                  <img
                    src="./img/blank.gif"
                    style="background-image: url('./img/gall_img/4_col/4.jpeg')"
                    alt="demo"
                  />

                  <!-- <a
                        class="gallery__item__description"
                        href="http://player.vimeo.com/video/95974049"
                        data-gallery="gall"
                      >
                        <span class="gallery__item__title">Our Farm</span>
                        <span class="gallery__item__subtitle">Life Style</span>
                      </a> -->
                </figure>
              </div>
            </div>
          </div>
          <!-- end item -->
          <!-- start item -->
          <div class="col-4 col-md-4 col-lg-4">
            <div class="gallery__item">
              <div class="gallery__item__inner">
                <figure>
                  <img
                    src="./img/blank.gif"
                    style="background-image: url('./img/gall_img/4_col/5.jpeg')"
                    alt="demo"
                  />

                  <!-- <a
                        class="gallery__item__description"
                        href="http://player.vimeo.com/video/95974049"
                        data-gallery="gall"
                      >
                        <span class="gallery__item__title">Our Farm</span>
                        <span class="gallery__item__subtitle">Life Style</span>
                      </a> -->
                </figure>
              </div>
            </div>
          </div>
          <!-- end item -->
          <!-- start item -->
          <div class="col-4 col-md-4 col-lg-4">
            <div class="gallery__item">
              <div class="gallery__item__inner">
                <figure>
                  <img
                    src="./img/blank.gif"
                    style="background-image: url('./img/gall_img/4_col/6.jpeg')"
                    alt="demo"
                  />

                  <!-- <a
                        class="gallery__item__description"
                        href="http://player.vimeo.com/video/95974049"
                        data-gallery="gall"
                      >
                        <span class="gallery__item__title">Our Farm</span>
                        <span class="gallery__item__subtitle">Life Style</span>
                      </a> -->
                </figure>
              </div>
            </div>
          </div>
          <!-- end item -->
        </div>
      </div>
    </div>
    <p class="mt-5">{$content.company_profile.p2}</p>
    <p class="mt-5">{$content.company_profile.p22}</p>
    <p class="mt-5">{$content.company_profile.p23}</p>
    <!-- !SECTION - End Company Profile -->

    <!-- SECTION - Our vision -->
    <div class="section-heading section-heading--left pt-5 mt-5">
      <h2 class="title responsive-title text-primary">
        {$content.our_vision.title}
      </h2>
    </div>

    <p class="mt-5">{$content.our_vision.p1}</p>
    <!-- !SECTION - End Our vision -->

    <!-- SECTION - Our Mission -->
    <div class="section-heading section-heading--left pt-5 mt-5">
      <h2 class="title responsive-title text-primary">
        {$content.our_mission.title}
      </h2>
    </div>

    <img
      src="./img/company_profile/our_mission1.jpg"
      alt="Our Mission"
      class="w-100"
    />
    <p class="mt-5">{$content.our_mission.p1}</p>
    <!-- !SECTION - End Our Mission -->
  </div>
</section>
