<section class="section">
  <div class="container">
    <!-- SECTION - Company Profile -->
    <!-- <div class="section-heading section-heading--left">
      <h2 class="title responsive-title text-primary">
        {$content.company_profile.title}
      </h2>
    </div> -->

    <video width="100%" height="auto" controls>
      <source src="./img/video/vtr.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    

    
  </div>
</section>
