<section id="contact-us" class="section">
  <div class="container">
    @@include('../template/contact_us_information.html')
    <!-- ANCHOR - Contact Form -->
    <form class="f1 js-contact-form" style="display: none;" action="./utils/contact_form.php" method="post">
      <label class="input-wrp">
        <input
          class="textfield"
          type="text"
          placeholder={$content.form.name}
          name="name"
          required
        />
      </label>

      <label class="input-wrp">
        <input
          class="textfield"
          type="text"
          placeholder={$content.form.email}
          name="email"
          required
        />
      </label>

      <label class="input-wrp">
        <input
          class="textfield"
          type="text"
          placeholder={$content.form.tel}
          name="telephone"
          required
        />
      </label>

      <label class="input-wrp">
        <textarea
          class="textfield"
          placeholder={$content.form.remark}
          name="message"
        ></textarea>
      </label>

      <div class="btn-wrp d-flex justify-content-center">
        <button class="custom-btn long" type="submit" role="button">
          {$content.form.submit}
        </button>
      </div>

      <div class="form__note"></div>
    </form>
  </div>
</section>
