<section id="contact-us" class="section">
  <div class="container">
    @@include('../template/contact_us_information.html')
    <!-- ANCHOR - Contact Form -->
    <form class="f2 js-contact-form mt-5 pt-4" action="./utils/contact_us_form.php" method="post">
      <div class="row align-items-baseline">
        <div class="col-12 col-md-3">
          <p class="text-black mb-2">{$content.form.name}</p>
        </div>
        <div class="col-12 col-md-9">
          <label class="input-wrp">
            <input
              class="textfield"
              type="text"
              placeholder={$content.form.name}
              name="name"
              required
            />
          </label>
        </div>
      </div>
      <div class="row align-items-baseline">
        <div class="col-12 col-md-3">
          <p class="text-black mb-2">{$content.form.email}</p>
        </div>
        <div class="col-12 col-md-9">
          <label class="input-wrp">
            <input
              class="textfield"
              type="text"
              placeholder={$content.form.email}
              name="email"
              required
            />
          </label>
        </div>
      </div>

      <div class="row align-items-baseline mb-5">
        <div class="col-12 col-md-3">
          <p class="text-black mb-2">{$content.form.tel}</p>
        </div>
        <div class="col-12 col-md-9">
          <label class="input-wrp">
            <input
              class="textfield"
              type="text"
              placeholder={$content.form.tel}
              name="telephone"
              required
            />
          </label>
        </div>
      </div>

      <div class="row align-items-baseline mb-5">
        <div class="col-12 col-md-3">
          <p class="text-black mb-2">{$content.form.wechat}</p>
        </div>
        <div class="col-12 col-md-9">
          <label class="input-wrp">
            <input
              class="textfield"
              type="text"
              placeholder={$content.form.wechat}
              name="wechat"
              required
            />
          </label>
        </div>
      </div>

      <div class="row align-items-baseline">
        <div class="col-12 col-md-3">
          <p class="text-black mb-2">{$content.form.products}</p>
        </div>
        <div class="col-12 col-md-9">
          <label class="input-wrp">
            <i class="fas fa-caret-down"></i>
              
            <select
              name="rice-product[]"
              class="textfield"
              id="products"
              multiple
              style="width: 100%"
              onchange="handleToggleSelectionById(event,'rice-product-others')"
            >
            
              <!-- <option value="others">Others</option> -->
              <optgroup label="Rice Products">
                {foreach $products as $product}
                {if $lang == 'en' || $lang == null}
                <option value="{$product.pd_title_en}">{$product.pd_title_en}</option>
                {/if}
                {if $lang == 'ch'}
                <option value="{$product.pd_title_en}">{$product.pd_title_ch}</option>
                {/if}
                <!-- <option value="jasmine-rice">Jasmine Rice</option> -->
                {/foreach}
              </optgroup>
              <optgroup label="Other Related Products">
                {foreach $relatedproduct as $product}
                {if $lang == 'en' || $lang == null}
                <option value="{$product.pd_title_en}">{$product.pd_title_en}</option>
                {/if}
                {if $lang == 'ch'}
                <option value="{$product.pd_title_en}">{$product.pd_title_ch}</option>
                {/if}
                <!-- <option value="jasmine-rice">Jasmine Rice</option> -->
                {/foreach}
              </optgroup>
              <optgroup label="Brands">
                {foreach $brandproduct as $brand}
                {foreach $brand.products as $product}
                {if $lang == 'en' || $lang == null}
                <option value="{$product.pd_title_en}">{$brand.brand_name_en} - {$product.pd_title_en}</option>
                {/if}
                {if $lang == 'ch'}
                <option value="{$product.pd_title_en}">{$brand.brand_name_ch} - {$product.pd_title_ch}</option>
                {/if}
                <!-- <option value="jasmine-rice">Jasmine Rice</option> -->
                {/foreach}
                {/foreach}
              </optgroup>
            </select>
          </label>
        </div>
      </div>
      <style>
        .select2-search__field {
          cursor: pointer;
          display: none;
        }
        .select2-container--default .select2-selection--multiple {
          cursor: pointer;
          min-height: 41px;
          transition: border-color 0.3s;
        }
        .select2-container--default .select2-selection--multiple:hover {
          border-color: #434343;
        }
        .select2-results__option--selectable {
          font-weight: 300;
        }
        .select2-container--default
          .select2-selection--multiple
          .select2-selection__choice__remove {
          padding: 3px 4px;
        }
        .select2-results__group {
          font-weight: 400;
          border-top: 1px solid #434343;
          border-bottom: 1px solid #434343;
          color: #434343;
        }
      </style>
      <script>
        $(function () {
          $("#products").select2({
            placeholder: "Please Select Product",
          });
          $("#products").on(
            "select2:opening select2:closing",
            function (event) {
              var $searchfield = $(this)
                .parent()
                .find(".select2-search__field");
              $searchfield.prop("disabled", true);
            }
          );
        });
      </script>

      <div class="row align-items-baseline d-none" id="rice-product-others">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-9">
          <label class="input-wrp">
            <input
              class="textfield"
              type="text"
              placeholder="Others"
              name="rice-product-others"
            />
          </label>
        </div>
      </div>

      <div class="row align-items-baseline">
        <div class="col-12 col-md-3">
          <p class="text-black mb-2">{$content.form.size}</p>
        </div>
        <div class="col-12 col-md-9">
          <label class="input-wrp">
            <i class="fas fa-caret-down"></i>
            <select
              name="size"
              class="textfield"
              onchange="handleToggleSelectionById (event,'quantity-others')"
            >
              <option value="none" selected disabled>{$content.form.selectsize}</option>
              <option value="Jumbo bag">Jumbo bag</option>
              <option value="Bulk">Bulk</option>
              <option value="50 kg/25 lbs">50 kg/25 lbs</option>
              <option value="25 kg/10 lbs">25 kg/10 lbs</option>
              <option value="10 kg/5 lbs">10 kg/5 lbs</option>
              <option value="5 kg/2 lbs">5 kg/2 lbs</option>
              <option value="2 kg/1 lbs">2 kg/1 lbs</option>
              <option value="1 kg">1 kg</option>
              <option value="500g">500g</option>
              <option value="others">Others</option>
            </select>
          </label>
        </div>
      </div>

      <div class="row align-items-baseline d-none" id="quantity-others">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-9">
          <label class="input-wrp">
            <input
              class="textfield"
              type="text"
              placeholder="Others"
              name="quantity-others"
            />
          </label>
        </div>
      </div>

      <div class="row align-items-baseline">
        <div class="col-12 col-md-3">
          <p class="text-black mb-2">{$content.form.mat}</p>
        </div>
        <div class="col-12 col-md-9">
          <label class="input-wrp">
            <i class="fas fa-caret-down"></i>
            <select
              name="mat_bag"
              class="textfield"
              onchange="handleToggleSelectionById(event, 'material-others')"
            >
              <option value="none" selected disabled>
                {$content.form.selectmat}
              </option>
              <option value="Jumbo">Jumbo</option>
              <option value="PP">PP</option>
              <option value="PE">PE</option>
              <option value="others">Others</option>
            </select>
          </label>
        </div>
      </div>

      <div class="row align-items-baseline d-none" id="material-others">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-9">
          <label class="input-wrp">
            <input
              class="textfield"
              type="text"
              placeholder="Others"
              name="material-others"
            />
          </label>
        </div>
      </div>

      <div class="row align-items-baseline">
        <div class="col-12 col-md-3">
          <p class="text-black mb-2">{$content.form.dest}</p>
        </div>
        <div class="col-12 col-md-9">
          <label class="input-wrp">
            <i class="fas fa-caret-down"></i>
            <select name="country" class="textfield">
              <option value="none" selected disabled>{$content.form.country}</option>
            </select>
          </label>
        </div>
      </div>

      <div class="row align-items-baseline">
        <div class="col-12 col-md-3">
          <p class="text-black mb-2">{$content.form.term}</p>
        </div>
        <div class="col-12 col-md-9">
          <label class="input-wrp">
            <i class="fas fa-caret-down"></i>
            <select name="term" class="textfield">
              <option value="none" selected disabled>{$content.form.term}</option>
              <option value="FOB">FOB</option>
              <option value="CNF">CNF</option>
              <option value="CIF">CIF</option>
            </select>
          </label>
        </div>
      </div>

      <div class="row align-items-baseline">
        <div class="col-12 col-md-3">
          <p class="text-black mb-2">{$content.form.remark}</p>
        </div>
        <div class="col-12 col-md-9">
          <label class="input-wrp">
            <textarea
              class="textfield"
              placeholder={$content.form.remark}
              name="message"
            ></textarea>
          </label>
        </div>
      </div>

      <div class="btn-wrp d-flex justify-content-center">
        <button class="custom-btn long" type="submit" role="button">
          {$content.form.submit}
        </button>
      </div>

      <div class="form__note"></div>
    </form>
  </div>
</section>
