<a id="spy-get-in-touch" class="ancor"></a>
<section class="section-contact">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-6 bg-1">
				<div class="item">
					<header class="item__header">
						<h2 class="item__title">Contacts</h2>

						<p class="item__subtitle">Mega bold action. Sold care wherever less appetizing your far easily</p>
					</header>

					<div class="company-contacts">
						<address>
							<p>
								<i class="fontello-location"></i>
								523 Sylvan Ave, 5th Floor Mountain View, CA 94041USA
							</p>

							<p>
								<i class="fontello-phone-call"></i>
								+1 (234) 56789,  +1 987 654 3210
							</p>

							<p>
								<i class="fontello-mail"></i>
								<a href="mailto:support@watchland.com">support@watchland.com</a>
							</p>
						</address>

						<div class="social-btns">
							<div class="social-btns__inner">
								<a class="fontello-twitter" href="#" target="_blank"></a>
								<a class="fontello-facebook" href="#" target="_blank"></a>
								<a class="fontello-linkedin-squared" href="#" target="_blank"></a>
								<a class="fontello-youtube" href="#" target="_blank"></a>
								<a class="fontello-gplus" href="#" target="_blank"></a>
								<a class="fontello-vimeo" href="#" target="_blank"></a>
								<a class="fontello-vkontakte" href="#" target="_blank"></a>
								<a class="fontello-instagram" href="#" target="_blank"></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 bg-2">
				<div class="item">
					<header class="item__header">
						<h2 class="item__title">Get In Touch</h2>

						<p class="item__subtitle">Vinyl grown remarkable in survey wherever parents are it's. Mega bold action. Sold care</p>
					</header>

					<form class="f1 js-contact-form" action="#">
						<label class="input-wrp">
							<i class="fontello-user"></i>
							<input class="textfield" type="text" placeholder="You name" name="name" />
						</label>

						<label class="input-wrp">
							<i class="fontello-mail"></i>
							<input class="textfield" type="text" placeholder="E-mail" name="email" />
						</label>

						<label class="input-wrp">
							<i class="fontello-comment"></i>
							<textarea class="textfield" placeholder="Comment" name="message"></textarea>
						</label>

						<div class="btn-wrp">
							<button class="custom-btn long" type="submit" role="button">Send a message</button>
						</div>

						<div class="form__note"></div>
					</form>
				</div>
			</div>

			<!-- <div class="col-12">
				<div class="item map-container">
					<div class="g_map" data-longitude="44.958309" data-latitude="34.109925" data-marker="../img/marker.png"></div>
				</div>
			</div> -->
		</div>
	</div>
</section>