<div class="section-heading section-heading--left mb-1 mb-md-5">
  <h2 class="title responsive-title">{$content.contact_us.title}</h2>
</div>
<!-- <p>{$content.contact_us.sub_title}</p> -->

<address class="pt-5 px-md-3">
  <div class="col-12 d-flex mb-5 px-0">
    <div>
      <img src="./img/contact_us/1.svg" alt="" class="custom-icon" />
    </div>
    <div class="ml-4">
      <p class="text-black">
        {$content.contact_us.address.addr_1}
        <br />
        {$content.contact_us.address.addr_2}
      </p>
    </div>
  </div>
  <div class="col-12 d-flex mb-5 px-0">
    <div>
      <img src="./img/contact_us/2.svg" alt="" class="custom-icon" />
    </div>
    <div class="ml-4">
      <p class="text-black">
        {$content.contact_us.telephone.tel}
        <br />
        {$content.contact_us.telephone.fax}
      </p>
    </div>
  </div>
  <div class="col-12 d-flex mb-5 px-0">
    <div>
      <img src="./img/contact_us/3.svg" alt="" class="custom-icon" />
    </div>
    <div class="ml-4">
      <p>
        <a href="mailto:info@riceland.co.th" class="text-black"
          >{$content.contact_us.email}</a
        >
      </p>
    </div>
  </div>
</address>
