<div id="btn-to-top-wrap">
  <a
    id="btn-to-top"
    class="circled"
    href="javascript:void(0);"
    data-visible-offset="1000"
  ></a>
</div>

<!-- Messenger Chat Plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat Plugin code -->
<div id="fb-customer-chat" class="fb-customerchat"></div>

<script type="text/javascript" src="./js/fb_chat.min.js"></script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
<script>
  window.jQuery ||
    document.write('<script src="./js/jquery-2.2.4.min.js"><\/script>');
</script>

<script type="text/javascript" src="./js/main.min.js"></script>
<script type="text/javascript" src="./js/modal.min.js"></script>
<script type="text/javascript" src="./js/change_language.min.js"></script>
<script type="text/javascript" src="./js/toggle_selection.min.js"></script>
<!-- @@include('google_analytics.html') -->
