<footer id="footer" class="footer--style-1">
  <div class="footer__inner">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="footer__item">
            <a
              class="site-logo {if $lang==='ch'}ch-logo{/if}"
              href="index.php{if isset($lang)}?lang={$lang}{/if}"
              ></a
            >

            <p class="footer__copy">© 2021, Riceland. All rights reserved.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-6">
          <div class="footer__item">
            <h3 class="footer__title">
              <!-- {$menu.footer} -->
            </h3>

            <div class="row">
              <div class="col">
                <ul class="footer__menu">
                  <li>
                    <a href="index.php{if isset($lang)}?lang={$lang}{/if}"
                      >{$menu.home}</a
                    >
                  </li>
                  <li>
                    <a
                      href="our_products.php{if isset($lang)}?lang={$lang}{/if}"
                      >{$menu.our_products}</a
                    >
                  </li>
                </ul>
              </div>

              <div class="col">
                <ul class="footer__menu">
                  <li>
                    <a href="about_us.php{if isset($lang)}?lang={$lang}{/if}"
                      >{$menu.about_us}</a
                    >
                  </li>
                  <li>
                    <a href="contact_us.php{if isset($lang)}?lang={$lang}{/if}"
                      >{$menu.contact_us}</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-md-12 col-lg-4">
					<div class="footer__item">
						<h3 class="footer__title">Get a newslatter</h3>

						<form class="footer__form form-horizontal" action="#">
							<p>Effervescent the secure special. Kids spicey chance excellent proven too sleek handcrafted when makes intense</p>

							<div class="b-table">
								<div class="cell v-bottom">
									<label class="input-wrp">
										<input class="textfield" type="text" placeholder="Your E-mail" />
									</label>
								</div>

								<div class="cell v-bottom">
									<button class="custom-btn primary" type="submit" role="button">subscribe</button>
								</div>
							</div>
						</form>
					</div>
				</div> -->
      </div>
    </div>
  </div>
</footer>
