<section id="how-to-order" class="section bg-gradient-gold">
  <div class="container">
    <div class="section-heading section-heading--left section-heading--white">
      <h2 class="title responsive-title">{$content.how_to_order.title}</h2>
    </div>
    <!-- ANCHOR - Steps -->
    <div class="row">
      {foreach $content.how_to_order.steps as $step}
      <!-- start item -->
      <div class="col-12 col-md-6 d-flex mb-5">
        <div>
          <img src="{$step.src}" alt="" class="custom-icon" />
        </div>
        <div class="ml-4">
          <h3 class="text-white mb-0">{$step.heading}</h3>
          <p class="text-white mt-3">{$step.description}</p>
        </div>
      </div>
      <!-- end item -->
      {/foreach}
    </div>
  </div>
</section>
