<div id="news-and-csr-list" class="row">
  {foreach $news.news_list as $item}
  <!-- start item -->
  <div class="col-12 col-md-6 mb-5">
    <a
      href="news_and_csr_post.php?id={$item.id}{if isset($lang)}&lang={$lang}{/if}"
    >
      <img src="{$item.src}" class="responsive-size" />
      <p class="date text-grey">{$item.date}</p>
      <h4 class="title text-primary">{$item.title}</h4>
      <p class="description text-black m-0">{$item.description}</p>
    </a>
  </div>
  <!-- end item -->
  {/foreach}
</div>
