<section class="section bg-gradient-gold" data-speed="0.4">
  <div class="container">
    <div class="section-heading section-heading--left section-heading--white">
      <h2 class="title responsive-title">{$content.our_products.title}</h2>
    </div>

    <!-- ANCHOR - Slider -->
    <div class="row justify-content-md-center">
      <div class="col-lg-12 px-0 px-md-4">
        <div class="feedbacks feedbacks--slider feedbacks--style-1">
          <div class="owl-carousel owl-theme">
            <!-- ANCHOR - Slider Items -->
            {foreach $our_products as $our_product}
            <!-- start item -->
            <article class="feedback__item">
              <img src="{$our_product.src}" alt="" class="w-100 limit-height" />
              <div class="px-4 px-sm-0">
                <h3 class="mt-5 text-white text-uppercase">
                  {$our_product.title}
                </h3>
                <p>{$our_product.short_description}</p>
                <h3 class="mt-5 text-white">
                  {$content.our_products.specification} {$our_product.title}
                </h3>
                <div class="row">
                  <div class="col-6">
                    <h4 class="m-0 text-white">{$content.our_products.description}</h4>
                  </div>
                  <div class="col-6">
                    <h4 class="m-0 text-white">{$content.our_products.standard}</h4>
                  </div>
                  {foreach $our_product.specification as $spec}
                  <div class="col-6">
                    <p class="m-0">{$spec.description}</p>
                  </div>
                  <div class="col-6">
                    <p class="m-0">{$spec.standard}</p>
                  </div>
                  {/foreach}
                </div>
              </div>
            </article>
            <!-- end item -->
            {/foreach}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
