<div class="partners">
	<div class="partners__inner">
		<div class="row">
			<!-- start item -->
			<div class="col-6 col-sm-4 col-lg-3">
				<img class="img-fluid" src="./img/partners_img/1-1.png" alt="demo" />
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col-6 col-sm-4 col-lg-3">
				<img class="img-fluid" src="./img/partners_img/2-1.png" alt="demo" />
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col-6 col-sm-4 col-lg-3">
				<img class="img-fluid" src="./img/partners_img/3-1.png" alt="demo" />
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col-6 col-sm-4 col-lg-3">
				<img class="img-fluid" src="./img/partners_img/4-1.png" alt="demo" />
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col-6 col-sm-4 col-lg-3">
				<img class="img-fluid" src="./img/partners_img/5.png" alt="demo" />
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col-6 col-sm-4 col-lg-3">
				<img class="img-fluid" src="./img/partners_img/6.png" alt="demo" />
			</div>
			<!-- end item -->
			<!-- start item -->
			<div class="col-6 col-sm-4 col-lg-3">
				<img class="img-fluid" src="./img/partners_img/7.png" alt="demo" />
			</div>
			<!-- end item -->
		</div>
	</div>
</div>