@@if (context.style === "bg-transparent"){<div id="top-bar" class="top-bar--style-1">}
@@if (context.style === "bg-white"){<div id="top-bar" class="top-bar--style-2">}
  <div class="container">
    <a id="top-bar__logo"{if $lang=="ch"} class="ch-logo" {/if} class="site-logo" href="index.php{if isset($lang)}?lang={$lang}{/if}"></a>

    <a id="top-bar__navigation-toggler" href="javascript:void(0);"
      ><span></span
    ></a>

    <nav id="top-bar__navigation" role="navigation">
      <ul>
        <!-- ANCHOR Nav-Home -->
        <li @@if (context.current === "home"){class="current"}><a href="index.php{if isset($lang)}?lang={$lang}{/if}">{$menu.home}</a></li>

        <!-- <li><a href="index.html">Home</a></li> -->

        <!-- ANCHOR Nav-About-us -->
        <li @@if (context.current === "about-us"){class="current"}><a href="about_us.php{if isset($lang)}?lang={$lang}{/if}">{$menu.about_us}</a></li>

        <!-- <li><a href="about_us.html">About us</a></li> -->

        <!-- ANCHOR Nav-Products -->
        <li @@if (context.current === "products" || context.current === "brands"){class="current"}>
					<a href="our_products.php{if isset($lang)}?lang={$lang}{/if}">{$menu.our_products}</a>

					<div class="submenu">
						<ul>
							<li @@if (context.current === "products"){class="current"}><a href="our_products.php{if isset($lang)}?lang={$lang}{/if}">{$menu.our_products}</a></li>
							<li @@if (context.current === "brands"){class="current"}><a href="our_brands.php{if isset($lang)}?lang={$lang}{/if}">{$menu.our_brands}</a></li>
						</ul>
					</div>
				</li>

        <!-- <li>
          <a href="javascript:void(0);">Our products</a>

          <div class="submenu">
            <ul>
              <li><a href="our_products.html">Our products</a></li>
              <li><a href="our_brands.html">Our brands</a></li>
            </ul>
          </div>
        </li> -->

        <!-- ANCHOR Nav-Contact -->
        <li @@if (context.current === "contact-us"){class="current"}><a href="contact_us.php{if isset($lang)}?lang={$lang}{/if}">{$menu.contact_us}</a></li>
        
        <!-- <li><a href="contact_us.html">Contacts</a></li> -->

        <!-- ANCHOR Nav-Language -->
        <li class="mt-5 mt-md-0 d-flex">
          <a type="button" style="border-right: 2px solid #c4c4c4;" onclick="changeLanguage('en')">EN</a>
          <a type="button" onclick="changeLanguage('ch')">CH</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
