.brand {
  &__item {
    margin: 5px;
    img {
      // NOTE - Fixed image with 130*130 px
      width: 130px !important;
      height: 130px;
      object-fit: contain;
      cursor: pointer;
    }
  }

  &__detail {
    width: 130px;
    .title {
      cursor: pointer;
      word-break: break-word;
      margin: 0 !important;
      padding: 10px 0 5px !important;
      // display: -webkit-box;
      // -webkit-line-clamp: 2;
      // -webkit-box-orient: vertical;
      // overflow: hidden;
    }
    p,pre {
      cursor: pointer;
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.brand-heading {
  h3 {
    display: flex;
    &::after {
      content: "";
      flex: 1;
      align-self: center;
      margin-left: 2rem;
      height: 1.25px;
      background-color: #c4c4c4;
    }
  }
}
