.pagination-container {
  margin: 30px auto 0;
  text-align: center;
}
.pagination {
  position: relative;
  justify-content: center;
}
.pagination a {
  position: relative;
  display: inline-block;
  color: $black;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 8px 12px;
}
.pagination a:before {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: $primary-color;
  border-radius: 24px;
  transform: scale(0);
  transition: all 0.2s;
}
.pagination a:hover,
.pagination a .pagination-active {
  color: #fff;
}
.pagination a:hover:before,
.pagination a .pagination-active:before {
  transform: scale(1);
}
.pagination .pagination-active {
  color: #fff;
}
.pagination .pagination-active:before {
  transform: scale(1);
}
.pagination-newer {
  margin-right: 10px;
}
.pagination-older {
  margin-left: 10px;
}
