#chartdiv {
  &.custom-height {
    height: 200px;
  }
}
@include min-screen($sm-width) {
  #chartdiv {
    &.custom-height {
      height: 300px;
    }
  }
}
@include min-screen($md-width) {
  #chartdiv {
    &.custom-height {
      height: 400px;
    }
  }
}
@include min-screen($lg-width) {
  #chartdiv {
    &.custom-height {
      height: 500px;
    }
  }
}

/* ANCHOR news & csr */
#news-and-csr,
#related-products,
#brands {
  .title {
    margin-bottom: 20px;
  }

  #news-and-csr-list {
    a {
      text-decoration: none;
    }
    img {
      &.responsive-size {
        height: 190px;
        width: 100%;
        object-fit: cover;
      }
    }
    .date {
      font-size: smaller;
      margin: 0;
      padding: 10px 0 5px;
    }
    .title {
      font-size: 18px;
      margin: 0;
      padding: 0 0 5px;
    }
    .description {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  @include min-screen($xs-width) {
    #news-and-csr-list {
      img {
        &.responsive-size {
          height: 280px;
        }
      }
    }
  }
  @include min-screen($md-width) {
    .title {
      margin-bottom: 55px;
    }
    #news-and-csr-list {
      img {
        &.responsive-size {
          height: 190px;
        }
      }
    }
  }
  @include min-screen($lg-width) {
    #news-and-csr-list {
      img {
        &.responsive-size {
          height: 300px;
        }
      }
    }
  }
}
