/* main colors */
$white: #fff !default;
$black: #434343 !default;
$grey: #777 !default;
$primary-color: #d9a404 !default;
$secondary-color: #f1cf69 !default;
$tertiary-color: #66cccc !default;
$primary-color-light: lighten(
  desaturate(adjust-hue(#d9a404, 1.5), 8.2942),
  51.1765
);

/* main fonts */
$primary-fontFamily: "Mitr", sanMitrs-serif !default;
$secondary-fontFamily: "Mitr", sans-serif !default;

$base-font-size: 10px !default;

/* main breakpoint */
$xl-width: 1200px !default;
$lg-width: 992px !default;
$md-width: 768px !default;
$sm-width: 576px !default;
$xs-width: 396px !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px,
) !default;
