@@include('../template/document_start.html')
<body class="page page-blog">
  <!-- start top bar -->
  @@include('../template/top_bar.html',{current: "about-us", style: "bg-white"})
  <!-- end top bar -->

  <!-- start header -->
  <header
    class="intro align-items-center jarallax"
    data-speed="0.5"
    data-img-position="50% 50%"
    style="background-image: url({$post.src})"
  >
    <!-- <div class="pattern" style="opacity: 0.25"></div> -->

    <!-- <div class="container">
      <div class="intro__text">
        <p class="intro__subtitle">Fruits</p>
        <h1 class="intro__title">Fresh grape</h1>
        <p class="intro__post-date">August 4, 2016 | 4 Comments</p>
      </div>
    </div> -->
  </header>
  <!-- end header -->

  <main id="news-and-csr-post" role="main">
    <!-- SECTION - Post -->
    <section class="section bg-grey">
      <div class="container">
        <div class="section-heading section-heading--left mb-md-5">
          <!-- ANCHOR - Date -->
          <p class="date text-grey">{$post.date}</p>
          <!-- ANCHOR - Title -->
          <h2 class="title responsive-title text-primary">
            {$post.title}
          </h2>
        </div>
        <!-- ANCHOR - Detail -->
        <p class="my-0">
          {$post.detail}
        </p>
        <!-- ANCHOR - Go Back Button -->
        <div class="d-flex justify-content-center mt-5 pt-3 pt-md-5">
          <button class="custom-btn primary filled" onclick="goBack()">
            {$content.go_back}
          </button>
        </div>
      </div>
    </section>
    <!-- !SECTION - End Post -->
  </main>

  <!-- start footer -->
  @@include('../template/footer_1.html')
  <!-- end footer -->

  @@include('../template/document_end.html')
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</body>
</html>